#title {
	text-align: center;
}

.createButton {
	margin-top: 30px;
	position: absolute;
	right: 20px;
}

.editButton {
	position: absolute;
	right: 66px;
	top: 8px;
}

.deleteButton {
	position: absolute;
	right: 26px;
	top: 8px;
}

.ghost {
	opacity: .3;
}

.clear {
	clear: both;
}