#title {
	text-align: center;
}

.createButton {
	margin-top: 30px;
	position: absolute;
	right: 20px;
}

.editButton {
	position: absolute;
	right: 66px;
	top: 28px;
}

.deleteButton {
	position: absolute;
	right: 26px;
	top: 28px;
}

.ghost {
	opacity: .3;
}

.clear {
	clear: both;
}

.personPanel {
	margin-top: 20px;
}

.centering {
	text-align: center;
}

.description {
	padding-top: 10px;
}

img {
    display: block;
    margin: 10px auto;
    border-radius: 50%;
}


button,
button:active,
button:focus,
button:hover,
.btn,
.btn:active,
.btn:focus,
.btn:hover{
    outline:none !important;
}