<!-- <h1>{{contacts}}</h1> -->
<div class="container col-sm-12">
  <ul class="nav nav-tabs" >
    <li class="active" ><a ui-sref="contact.contacts">Contacts</a></li>
    <li><a ui-sref="contact.create">Create</a></li>
  </ul>
</div>
<br/><br/><br/><br/>
<div class="col-sm-4" ng-repeat="contact in contacts">
<div class="panel panel-primary" ng-mouseenter="options=true" ng-mouseleave="options=false">
	<div class="panel-heading">{{contact.name}}<button ng-hide="!options" class="btn btn-info btn-sm editButton">Edit</button></div>
  <div class="panel-body">
    <p>Heeyooooo!</p>
  </div>
</div>
<div>
<!-- <div>
<h2>{{contacts[keys[0]].name}}</h2>
<div ng-repeat="contact in contacts">
	{{contact}}
	{{contact.name}}
	{{contact.age}}
	{{contact.bio}}
</div>
<button ng-click="addContact()" class="btn btn-success">Create</button>
<button ng-click="changeContact()" class="btn btn-info">Update</button>
<button ng-click="delContact()" class="btn btn-danger">Delete</button>
</div> -->