<!-- <h1>{{contacts}}</h1> -->
<div>
<div class="container col-sm-12">
  <ul class="nav nav-tabs" >
    <li class="active" ><a ui-sref="contact.contacts">Contacts</a></li>
    <li><a ui-sref="contact.create">Create</a></li>
  </ul>
</div>
<br/><br/><br/><br/>
<div class="row">
  <div class="col-sm-4" ng-repeat-start="contact in contacts">
    <div ng-mouseenter="setPerson($index)">
    	<div class="panel panel-primary personPanel" ng-mouseenter="options=true" ng-mouseleave="options=false">
    		<div class="panel-heading"><span ng-class="{ 'ghost': options }">{{contact.name}}</span></div>
    	  <div class="panel-body">
    	    <label>Email: </label><br/>
    	    {{$index}}
    	    {{keys[$index]}}
          {{personSelected}}
    	    <p>{{contact.email}}</p>
    	    <div class="well">{{contact.bio}}</div>

    	    <a ui-sref="contact.create({id: keys[$index], person: contact})" ng-hide="!options" ><button type="button" class="btn btn-default btn-info btn-sm editButton"><span class="glyphicon glyphicon-pencil" aria-describedby="edit button"></span>
    			</button></a>

    			<button type="button" ng-hide="!options" data-toggle="modal" data-target="#deleteModal" class="btn btn-default btn-danger btn-sm deleteButton">
    	  		<span class="glyphicon glyphicon-remove" aria-describedby="delete button"></span>
    			</button>
    	  </div>
    	</div>
    </div>
  </div>
  <div class="clearfix" ng-if="$index%3==2"></div>
  <div ng-repeat-end=""></div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Delete</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete this contact?&hellip;</p>
      </div>
      {{personSelected}}
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="deleteButton" class="btn btn-danger" data-dismiss="modal" ng-click="delContact(personSelected)">Delete</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
</div>
<!--     <button type="button" ng-hide="!options" class="btn btn-default btn-info btn-sm editButton">
  		<a ui-sref="contact.create({person: contact})"><span class="glyphicon glyphicon-pencil"></span></a>
		</button> -->

<!-- <div>
<h2>{{contacts[keys[0]].name}}</h2>
<div ng-repeat="contact in contacts">
	{{contact}}
	{{contact.name}}
	{{contact.age}}
	{{contact.bio}}
</div>
<button ng-click="addContact()" class="btn btn-success">Create</button>
<button ng-click="changeContact()" class="btn btn-info">Update</button>
<button ng-click="delContact()" class="btn btn-danger">Delete</button>
</div> -->